.section-second {
    width: 1000px;
    height: 280px;
    background: linear-gradient(135deg, #ffffff 0%, #34804d 100%);
    top: 30px;
    left: 800px;
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-wrapper {
    position: relative;
    display: block;
    flex-direction: row;
}

.for-create {
    position: absolute;
    color: #303030;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 100px;
}

.section-input {
    margin-bottom: 16px;
    margin-left: 220px;
}

.section-input input {
    background: transparent;
    height: 30px;
    border: none;
    border-bottom: 2px solid #606060;
}

.section-btn {
    margin-left: 140px;
}

.section-input-text {
    margin-bottom: 50px;
    margin-top: 130px;
}

.section-add-btn {
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #303030;
    margin-left: 32%;
    font-size: 16px;
    width: 10rem;
    height: 2rem;
}

.section-add-btn:hover {
    background-color: #606060;
}